body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../public/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed; /* This makes it stay in place on scroll */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Keep it behind the content */
  background-image: url('../public/hero.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) {

  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  .action-header {
    width: 30%;
  }
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login-register {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  width: 260px;
  padding: 20px;
}

.login-page-form  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid white;
  border-radius: 20px;
  width: 260px;
  height: 350px;
  padding: 10px;
  backdrop-filter: blur(50px);

}

.login-page button{
  border-radius: 5px;
  background-color: #1677ff;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
  max-width: 200px;
  min-width: 100px;
}

.login-page button {
  background-color: #3f8df9;
  cursor: pointer;
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.note-title {
  border: solid 1px #89CFF0;
  background-color: #e0f1f3;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #89CFF0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 300px;
  min-height: 250px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 100%;
}

.note-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.notes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notes-header button {
  color: crimson;
}

h2 {
  margin: 0;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.action-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
  width: 100% vw;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

.registration-form-buttons {
  display: flex;
  justify-content: center;
}

textarea {
  height: 100px;
}

.app-logo {
  width: 200px;
  height: 200px;
}
.registration-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: 320px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 10px;
  backdrop-filter: blur(80px);
  text-align: center;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.github-image {
  width: 40px;
}

.registration-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.nav-link {
 text-align: center;
 border: 0px solid white;
 background-color: #3f8df9;
 border-radius: 5px;
 padding: 10px;
 color: white;
 text-decoration: none;
 margin: 10px;
 max-width: 100px;
}

.note-form button {
  border-radius: 5px;
  background-color: #1677ff;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.note-form button:hover {
  background-color: #3f8df9;
  cursor: pointer;
}

.notes-header button{
  border-radius: 5px;
  background-color: crimson;
  border: none;
  padding: 8px;
  font-size: 10px;
  color: white;
}

.notes-header button:hover {
  background-color:lightcoral;
  cursor: pointer;
}

.notes-grid-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid white;
  padding: 30px;
  backdrop-filter: blur(80px);
}

.edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.edit-buttons button {
  flex: 1;
}

.edit-buttons button:last-of-type {
  background-color: rgb(220, 89, 89);
  color: white;
}

.notes-grid {
  margin-top: 20px;
  width: 100%;
}

.connection-warning {
  color: red;
}

.note-content{
  margin-bottom: 30px;
  text-align: center;
  white-space: pre-line;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.note-updated {
  color: grey;
    font-size: 14px;
  }

  .registration-page {
    display: flex;
    flex-direction: column;
  }
 
  .registration-page-header {
    text-align: center;
    backdrop-filter: blur(100px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;

  }

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.registration-form button {
  border-radius: 5px;
  background-color: #3f8df9;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.registration-form-header {
  text-align: center;

}

.registration-form-error {
  color: red;
  text-align: center;
}
