body {
  font-family: Arial, sans-serif;
}

body {
  margin: 20px;
  background-color: white;
}

@media (min-width: 600px) {

  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 400px;
  min-height: 250px;
  align-items: center;
  margin: 10px;
}

.notes-header {
  display: flex;
  justify-content: flex-end;
}

h2 {
  margin: 0;
}

.app-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

.app-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.note-form button {
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.notes-header button{
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 8px;
  font-size: 10px;
  color: white;
}

.note-form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
}

.edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.edit-buttons button {
  flex: 1;
}

.edit-buttons button:last-of-type {
  background-color: rgb(220, 89, 89);
  color: white;
}

.notes-grid {
  margin-top: 20px;
}

.connection-warning {
  color: red;
}

.note-content{
  margin-bottom: 30px;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}