name: Backend Production Deploy

on:
    workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.MY_RENDER_SERVICE_ID_BE }}
          api-key: ${{ secrets.MY_RENDER_API_KEY }}
          wait-for-success: true

      - name: Trigger E2E Tests
        if: success()
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.G_ACCESS_TOKEN }}
          repository: dave-poe/notes-app-e2e-tests
          event-type: trigger-production-tests-backend
          client-payload: '{ "environment": "production" }'
